.headline  {
	width:100%;
 	text-align:center;
 	display:block;
 	margin:0;
 	background-color:lightblue;
	font:normal 4em Bakery; 
}

.navbar {
	background-color: #444564;
	width:100%;
}

.active {
	float: right;
	font-style:italic;
	color:black;
	text-decoration:none;
}

div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

div ul li{
	float:left;
	border-right: .1em solid white;	
}

li a {
	display:block;
	padding: .6em;
	font: 2em TikiTropical;
	color:white;
}

footer {
	width:100%;
	background-color: #444564;
	text-align:center;
	padding: .6em;
	font: italic 2em LittleLordFontleroy;
}



@font-face {
		font-family: 'TikiTropical';
		src: url('../../FontFiles/Tiki Tropic.ttf') format('truetype');

}

@font-face {
		font-family: 'LittleLordFontleroy';
		src: url('../../FontFiles/LittleLordFontleroyNF.ttf') format('truetype');

}

@font-face {
		font-family: 'Bakery';
		src: url('../../FontFiles/bakery.ttf') format('truetype');

}