.headline  {
	width:100%;
 	text-align:center;
 	display:block;
 	margin:0;
 	background: url("beach.jpg") center / 100%;
	font:bold 4.5em Bakery;
	color:black	
}

.navbar {
	background-color: #00455c;
	width:100%;

}


/*Current Page*/
.active {
	color:white;
	background-color:#000;
	text-decoration:none;
}
.active a {
		color:white;
}

/*Link Settings*/
a:link {
	display:block;
	padding: .6em;
	font: 2em TikiTropical;
	color:white;
}

a:visited {
	color: gray;
}

a:hover {
	font: 2.1em TikiTropicalBold;
	color:black;
	padding:0;
	text-decoration:none;
}

a:active { text-decoration:none;
		 }

footer {
	width:100%;
	background-color: #00455c;
	text-align:center;
	padding: .6em;
	font: italic 2em LittleLordFontleroy;
	display:block;
	clear:both;
}

/* FONT FACES BELOW*/



@font-face {
		font-family: 'TikiTropical';
		src: url('../../FontFiles/Tiki Tropic.ttf') format('truetype');

}

@font-face {
		font-family: 'TikiTropicalBold';
		src: url('../../FontFiles/Tiki Tropic Bold.ttf') format('truetype');

}

@font-face {
		font-family: 'LittleLordFontleroy';
		src: url('../../FontFiles/LittleLordFontleroyNF.ttf') format('truetype');

}

@font-face {
		font-family: 'Bakery';
		src: url('../../FontFiles/bakery.ttf') format('truetype');

}