.headline  {
	width:100%;
 	text-align:center;
 	display:block;
 	margin:0;
 	background-color:lightblue;
	font:normal 4em Bakery; 
}

.navbar {
	background-color: #444564;
	width:100%;
}


.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

.navbar ul li{
	float:left;
	border-right: .1em solid white;	
}

/*Current Page*/
.active {
	color:black;
	text-decoration:none;
}

/*Link Settings*/
a:link {
	display:block;
	padding: .6em;
	font: 2em TikiTropical;
	color:white;
}

a:visited {
	color: gray;
}

a:hover {
	font: 2.3em TikiTropicalBold;
	color:black;
	padding:.4em;
	text-decoration:none;
}

a:active { text-decoration:none;
		 }

footer {
	width:100%;
	background-color: #444564;
	text-align:center;
	padding: .6em;
	font: italic 2em LittleLordFontleroy;
	display:block;
	clear:both;
}

/* FONT FACES BELOW*/



@font-face {
		font-family: 'TikiTropical';
		src: url('../../FontFiles/Tiki Tropic.ttf') format('truetype');

}

@font-face {
		font-family: 'TikiTropicalBold';
		src: url('../../FontFiles/Tiki Tropic Bold.ttf') format('truetype');

}

@font-face {
		font-family: 'LittleLordFontleroy';
		src: url('../../FontFiles/LittleLordFontleroyNF.ttf') format('truetype');

}

@font-face {
		font-family: 'Bakery';
		src: url('../../FontFiles/bakery.ttf') format('truetype');

}